ul{
    list-style-type: none;
    margin: 10px 15px 10px 15px;
    padding: 0;
    overflow: hidden;
    background-color: #0f3c3edc;
    border-radius: 20px;
  
  }
  
  li {
    float: left;
  }
  
  li a{
    display:block;
    color: rgb(255, 255, 255);
    margin:10px 40px;
    padding: 5px 5px 20px 20px;
    transition: 0.5s;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: rgb(36, 75, 35);
    border-radius: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #011a1c6a;
    border-radius: 20px;
  }
  
  .active{
    background-color: #16777c;
    border-radius: 20px;
  }
  
  .flex{
    display: flex;
  }
  .flex_space{
    display: flex;
    justify-content: space-between;
  }
  
  .imgsint22 {
    margin: 0.1vh;
    padding: 20px 50px 20px 50px;
    width: 100%;
    cursor: relative;
    background-color: #16777c;
  }
  
  b {
    color: rgb(0, 0, 0);
    margin:2px 40px;
    padding: 20px 10px 5px 20px;
    text-decoration: none;
    background-size: cover;
    display:block;
  }